@import "../../variables.scss";

.loader {
  display: flex;
  justify-content: center;

  .loader__icon {
    animation: spin 1s linear infinite;

    border: 16px solid $grey-dark;
    border-radius: 50%;
    border-top: 16px solid $color-primary;

    margin: 2em;

    height: 120px;
    width: 120px;

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
