.loader {
  display: flex;
  justify-content: center;

  .icon {
    animation: spin 1s linear infinite;

    border: 16px solid #e0e0e0; /* Alto */
    border-radius: 50%;
    border-top: 16px solid #009688; /* Persian Green */

    margin: 2em;

    height: 120px;
    width: 120px;

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
