@import "../../variables.scss";

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 3rem);

  .loader__icon {
    animation: spin 1s linear infinite;

    border: 1rem solid $grey-dark;
    border-radius: 50%;
    border-top: 1rem solid $color-primary;

    height: 7.5rem;
    width: 7.5rem;

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
