.search-box {
  border: 1px solid #e0e0e0; /* Alto */
  border-radius: 0;

  /* Fix input element rounding on iOS */
  -webkit-appearance: none;
  -webkit-border-radius: 4px;

  font-size: 1.25rem;
  padding: 4px;

  width: 300px;
  max-width: 50%;

  &::placeholder {
    color: rgba(0, 0, 0, 0.35);
  }

  &:focus {
    color: rgba(0, 0, 0, 0.87);
    outline: none;
  }
}
