.SearchBox {
  border: 1px solid #e0e0e0; /* Alto */
  border-radius: 0;

  /* Fix input element rounding on iOS */
  -webkit-appearance: none;
  -webkit-border-radius: 4px;

  font-size: 1.25rem;
  padding: 4px;

  width: 150px;
}

.SearchBox::placeholder {
  color: rgba(0, 0, 0, 0.35);
}

.SearchBox:focus {
  color: rgba(0, 0, 0, 0.87);
  outline: none;
}

/* Tablet and Desktop */
@media screen and (min-width: 481px) {
  .SearchBox {
    width: 300px;
  }
}
