@import "../../variables.scss";

.product-list {
  padding: 0.5rem;

  .grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  a.card {
    text-decoration: none;
  }

  .card {
    color: $rgba87;
    background-color: $white;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    .card__media {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 100%;
    }

    .card__content {
      margin: 0.5rem;
      flex-grow: 1;

      .card__subtitle {
        color: #999999;
        font-size: 1rem;
        font-weight: normal;
      }

      .card__title__wrap {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .card__title {
          color: $color-primary;
        }

        .card__price {
          color: $rgba87;
        }
      }
    }
  }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .product-list {
    padding: 1rem;

    .grid {
      gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .product-list {
    padding: 1.25rem;

    .grid {
      gap: 1.25rem;
      grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    }
  }
}
