@import "../../variables.scss";

section.product-list {
  padding: 0.5rem;

  .grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  a.card,
  a.card:focus {
    text-decoration: none;
  }

  .card {
    color: $rgba87;
    background-color: $white;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    .card__media {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 100%;
    }

    .card__content {
      margin: 1rem;
      flex-grow: 1;

      .card__title {
        color: $color-primary;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.6;
      }
    }

    .card__meta {
      margin: 1rem;
      margin-top: 0;

      display: flex;
      justify-content: space-between;

      .card__subtitle {
        color: #999999;
        font-size: 1rem;
        font-weight: normal;
      }

      .pricing {
        color: $rgba87;
        font-size: 1rem;
      }
    }
  }
}
