.HeroSection {
  /* Background */
  background-attachment: fixed;
  background-color: #c84e28;
  background-image: url("./images/background-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Flexbox */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Padding */
  padding: 1em;

  /* Sizing */
  min-height: 100vh;
  overflow: hidden;

  /* Text */
  text-align: center;
}

.HeroContent {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  padding: 1em;
}

.HeroLogo {
  font-size: 4rem;
}

.HeroDescription {
  cursor: default;
  font-size: 0.8rem;
}

/* iOS devices
https://stackoverflow.com/questions/30102792/css-media-query-to-target-only-ios-devices
*/
@supports (-webkit-touch-callout: none) {
  .HeroSection {
    background-attachment: scroll;
  }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .HeroSection {
    background-image: url("./images/background-tablet.jpg");
  }

  .HeroLogo {
    font-size: 6rem;
  }

  .HeroDescription {
    font-size: 1.2rem;
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .HeroSection {
    background-image: url("./images/background-desktop.jpg");
  }

  .HeroLogo {
    font-size: 8rem;
  }

  .HeroDescription {
    font-size: 1.6rem;
  }
}
