.hero {
  /* Background */
  background-attachment: fixed;
  background-color: #c84e28; /* Sinopia */
  background-image: url("./images/background-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Flexbox */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Padding */
  padding: 1em;

  /* Sizing */
  min-height: calc(100vh - 64px);
  overflow: hidden;

  /* Text */
  text-align: center;

  .content {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    padding: 1em;
  }

  .brand {
    padding: 1em 0;
  }

  .description {
    cursor: default;
    font-size: 0.8rem;
  }
}

/* iOS devices
https://stackoverflow.com/questions/30102792/css-media-query-to-target-only-ios-devices
*/
@supports (-webkit-touch-callout: none) {
  .hero {
    background-attachment: scroll;
  }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .hero {
    background-image: url("./images/background-tablet.jpg");

    .description {
      font-size: 1.2rem;
    }
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .hero {
    background-image: url("./images/background-desktop.jpg");

    .description {
      font-size: 1.6rem;
    }
  }
}
