#hero {
  align-items: center;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.header {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  padding: 1em;
}

h1 {
  font-size: 3em;
}

/* Mobile */
@media screen and (max-width: 480px) {
  #hero {
    background-image: url("background-mobile.jpg");
  }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  #hero {
    background-image: url("background-tablet.jpg");
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  #hero {
    background-image: url("background-desktop.jpg");
  }
  h1 {
    font-size: 5em;
  }
}
