@font-face {
  font-family: "QwertyAbility";
  src: url("./fonts/QwertyAbility.otf") format("opentype");
}

.LogoText {
  cursor: default;
  font-family: "QwertyAbility", "URW Chancery L", "Brush Script MT",
    "Brush Script Std", "Snell Roundhand", "Bradley Hand", cursive;
  line-height: 1.2;
}
