@import "../../variables.scss";

.product {
  display: flex;
  flex-direction: column;

  .product__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 0.5rem;
    display: block;
    width: 100%;
  }

  .product__content {
    padding: 0.5rem;

    .product__category {
      color: #999999;
      font-size: 1rem;
      font-weight: normal;
    }

    .product__name {
      color: $color-primary;
    }

    .product__description {
      padding: 1rem 0;
    }

    .product__price {
      color: $rgba87;
      font-size: 1.5rem;
    }
  }
}

/* Tablet and Desktop */
@media screen and (min-width: 481px) {
  .product__wrapper {
    display: flex;
    justify-content: center;
  }

  .product {
    flex-direction: row;
    align-items: flex-start;
    max-width: 1024px;

    .product__image {
      border-radius: 0.25rem;
      padding-bottom: 0;
      width: 50%;
    }

    .product__content {
      flex: 1;
      padding: 0 1rem;
    }
  }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .product {
    padding: 1rem;
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .product {
    padding: 2rem;
  }
}
