@import "../../variables.scss";

.product {
  .product__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 1rem;
    display: block;
    width: 100%;
  }

  .product__content {
    padding: 0.225rem;

    .product__category {
      color: #999999;
      font-size: 1rem;
      font-weight: normal;
    }

    .product__name {
      color: $color-primary;
      padding: 0 0 0.5rem 0;
    }

    .product__description {
    }

    .product__price {
      color: $rgba87;
      padding: 1rem 0;
    }
  }
}
