.navbar {
  background-color: #009688; /* Persian Green */
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  color: white;
  height: 64px;

  /* Flexbox */
  align-items: center;
  display: flex;
  justify-content: space-between;

  /* Position */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  padding: 0 1em;

  svg {
    height: 40px;
  }
}

.navbar-padding {
  padding-top: 64px;
}
