@import "../../variables.scss";

nav.navigation-bar {
  background-color: $color-primary;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  color: $white;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }

  a {
    color: $white;
  }

  svg {
    height: 2rem;
    vertical-align: top;
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li a {
    border: 0.063rem solid transparent;
    border-radius: 0.25rem;
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
  }
}

.navigation-bar-padding {
  padding-top: 3rem;
}
