@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $grey-light;
  color: $rgba87;

  font-family: $font-stack;
  font-weight: 400;
  line-height: 1.4;

  min-height: 100%;

  /* Prevent adjustments of font size after orientation changes in iOS. */
  -webkit-text-size-adjust: 100%;

  &::backdrop {
    background-color: $grey-light;
  }
}
