/* Reset ALL margins and paddings */
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100%;
}
