$font-stack: Roboto, Helvetica, Arial, sans-serif;

$color-primary: #009688; /* Persian Green */
$color-secondary: #c84e28; /* Sinopia */

$grey-dark: #e0e0e0; /* Alto */
$grey-light: #fafafa; /* Cultured */

$white: #ffffff; /* White (defined for easy referencing) */

/* TODO: Rename and document */
$rgba87: rgba(0, 0, 0, 0.87);
